<?xml version="1.0"?>

<robot name="openx" xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="openx_base_ground.xacro" />

    <xacro:include filename="$(find openx_description)/urdf/openx_control.xacro" />
    <xacro:open_manipulator_x_ros2_control name="open_manipulator_x_ros2_control" />

</robot>